<!DOCTYPE html>
<html>
<head>
  <title>PokemonDatabase</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <%= yield %>
</body>

<script>
  $(document).ready(function() {
    $("#pokemon_species").on("blur", function() {
      var valid = false;
      $.ajax({
      	url: "/pokemons/validname",
        success: function(data) {
          $.each(data, function(key, val) {
            if (val.name == $("#pokemon_species").val()) {
              valid = true;
      			}
          });
      		if (valid == false) {
            $("#species_error").show();
          }
          else {
      			$("#species_error").hide();
      		}
      	}
      });
    });
  });
</script>
<style>
  #species_error {display:none;}
</style>
</html>
